
.footer {
    background-color: var(--second-color);
    color: #000;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
    margin-top: 2rem;
}

.footer__title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.footer__social {
    margin-bottom: 2rem;
}

.footer__icon {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 1rem;
}

.footer__copy {
    font-size: .75rem;
}