/*========== HEADER ==========*/
header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    color: rgb(255, 255, 255);
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
}

.hero__banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 64px;
}

.hero__banner__image {
    width: 90%;
    height: auto;
    border-radius: 35px;
    margin-top: 5%;
}
