.restaurants-list {
  width: 100%; 
  height: auto;
}

.restaurants-list__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 1.5rem;
}

.card {
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  min-width: 15rem;
  background: white;
  color: $color-2;
  padding: 2rem;
}

.restaurants-list__item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.restaurants-list__name {
  font-size: 1rem;
  font-weight: bold;
}

.restaurants-list__button {
  background: white;
  border: 1px solid black;
  padding: 10px;
  border-radius: .25rem;
}




