@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800;900&display=swap');

$font-1: 'Poppins', sans-serif;

$white: #fff;
$black: #000;
$lightgrey: rgb(221, 221, 221) ;
$color-2: #282c34;
$color-3: rgba(214, 0, 179, 0.6);
$color-4: rgb(255, 56, 92);


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: $font-1;
    background-color: $white;
    color: $color-2;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
a:visited {
    color: $color-2;
}

/*========== GLOBALS ==========*/
.position-relative {
    position: relative;
}

.pt-3 {
    padding-top: 3rem;
}

.pb-3 {
    padding-bottom: 3rem;
} 

.container {
    width:100%;
    padding-right:10px;
    padding-left:10px;
    margin-right:auto;
    margin-left:auto
}
@media (min-width:576px) {
    .container {
        max-width:540px
    }
}
@media (min-width:768px) {
    .container {
        max-width:720px
    }
}
@media (min-width:992px) {
    .container {
        max-width:960px
    }
}
@media (min-width:1200px) {
    .container {
        max-width:1140px
    }
}

/*========== FLEX ==========*/
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

